.ipynb_checkpoints
A00028185
BraTS2020_TrainingData
/code/resizx.nii
/code/resizx_seg.nii
code/BraTS20_Training_368.npz
code/BraTS20_Training_368.nii
code/BraTS20_Training_368_mask.npz
code/BraTS20_Training_345.npz
code/BraTS20_Training_345.nii
code/BraTS20_Training_345_seg.nii
code/BraTS20_Training_345_mask.npz
code/BraTS20_Training_302.npz
code/BraTS20_Training_302.nii
code/BraTS20_Training_302_mask.npz
code/BraTS20_Training_223.npz
code/BraTS20_Training_223.nii
code/BraTS20_Training_223_mask.npz
code/BraTS20_Training_139.npz
code/BraTS20_Training_139.nii
code/BraTS20_Training_139_mask.npz
code/BraTS20_Training_045_seg.nii
code/test_Dark2.png
code/test_gist_ncar.png
code/test_hsv.png
code/test_inferno.png
code/test_magma.png
code/test_nipy_spectral.png
code/test_plasma.png
code/test_prism.png
code/test_rainbow.png
code/test_Set1.png
code/test_Set2.png
code/test_Spectral.png
code/test_turbo.png
code/test.png
content
environment
processed
train
Uncompress
BraTS2020_training_data.zip
BraTS2020_TrainingData.zip
default-c20aa07c-fa6a-4d61-a45f-44398cf11cac.ipynb
test.zip
train.zip
code/Clasification/3d_image_classification.h5
**/code/models/
code/models/3D/variables
code/models/3D/variables/variables.data-00000-of-00001
code/models/3D/variables/variables.index
code/Clasification
Modelos_tumores/models/3D/variables/variables.data-00000-of-00001
/Modelos_tumores/models/3D/variables/variables.data-00000-of-00001

